/* Landing-page styling */

.inner-body{
    display: flex;
    gap: 100px;
    padding-top: 40px;
    /* border: 1px solid; */
}
.navbar{
    border: 1px solid;
    display: flex;
    gap: 200px;
}
.right-text{
    font-size: 100px;
    padding-left: 80px;

}
.container{

    border: 1px solid;

}
h6{
    font-size: 30px;
}
button{
    font-size: 20px;
    background-color: purple;
}

h5{
    font-size: 20px;
}
/* Sign up styling */
.sign_up{
    display: flex;
    gap: 120px;
    font-size: 20px;
    background-color: pink;
}
input{
    font-size: 20px;
}
.login_body{
    background: pink;
    border: 1px solid;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    height: 600px;
   font-size: 20px;

}
/* .split-left{
    height: 800px;
    width: 900px;
} */

/* Home page styling */
.home_body{
    /* background-color: pink; */
    height: 900px;
   
}
.navbar{
    border-radius: 30px;
    font-size: 20px;
}
.middle_body{
    display: flex;
   gap: 120px;
   padding-top: 50px;
}
h3{
    font-size: 80px;
}
/* Profile styling */
.profile_body{
    border: 1px solid;
    background-color: pink;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 40px;
    padding-top: 50px;
}
/* Styling to-do list */
input{
    border: 3px pink;
    width: 400px;
}
.nyj-task{
    margin-left: 40%;
    width: 90px;
    height: 60px;
    border-radius: 20px;
}
h1{
    text-align: center;
    
}
.add{
    border: 2px solid;
    padding: 10px;
    cursor: pointer;
    background-color:rgb(210,142,143) ;
}
#todo-list{
    text-align: center;
}
.to-do_body{
    background-color:pink;
    border: 1px solid;
    height: 700px;
    width: 80%;
    margin: 0 auto;
}
h2{
    font-size: 50px;
    text-align: center;
}
/* Achievements styling */
#new-task{
    padding: 30px;
    width: 500px;
    margin-left: 500px;
    border-radius: 30px;
    font-size: large;
}
.left-image{
    width: 800px;
    height: 800px;
}
#add-task{
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    background-color: black;
    color: aliceblue;
    font-size: larger;

}
/* Goals styling */
.goals_body{
    border: 1px solid;
    background-color: pink;
    height: 600px;
    margin: 0 auto;
}
#new-task{
    padding: 30px;
    width: 500px;
    margin-left: 500px;
    border-radius: 30px;
    font-size: large;
}
#add-task{
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    background-color: black;
    color: aliceblue;
    font-size: larger;

}
.achievements_body{
    border: 1px solid;
    background-color: pink;
    height: 600px;
    width: 80%;
}
#title{
    font-size: 50px;
    text-align: center;
}
.login_logo{
    padding-right: 1500px;
}
.profile_logo{
    padding-right: 1000px;
   
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-top: 40px;
}
@media only screen and (min-width:280px)and (max-width:680px){
    .navbar{
        border: 1px solid;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .right-text{
        font-size: 40px;
        padding-left: 20px;
    
    }
    
    .left-image{
        width: 200px;
        height: 300px;
    }
    .inner-body{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 40px;
        padding-left: 40px;
        /* border: 1px solid; */
    }

    .sign_up{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 20px;
        background-color: pink;

    }
    /* .split-left{
        height: 80px;
        width: 90px;
        flex-wrap: wrap;
    } */

    

}